name: "Build and Publish Python Packages"

on:
  push:
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-[0-9]+"

jobs:

  build_sdist:

    name: "Source distribution"
    runs-on: ubuntu-latest

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: "Install python dependencies"
        run: |
          pip install setuptools

      - name: "Build source distribution"
        run: |
          python setup.py sdist

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/
          retention-days: 7

  build_wheels:

    name: "Build wheels on ${{ matrix.os }} ${{ matrix.cibw_archs }}"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2019
            cibw_archs: AMD64
          - os: windows-2019
            cibw_archs: ARM64
          - os: windows-2019
            cibw_archs: x86
          - os: macos-12
            cibw_archs: x86_64
          - os: macos-12
            cibw_archs: arm64
          - os: macos-12
            cibw_archs: universal2
          - os: ubuntu-22.04
            cibw_archs: x86_64
          - os: ubuntu-22.04
            cibw_archs: i686
          - os: ubuntu-22.04
            cibw_archs: aarch64

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: "Build wheels"
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_SKIP: ${{ matrix.cibw_skip }}
          PIP_USE_PEP517: 1

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.cibw_archs }}
          path: ./wheelhouse/*.whl
          retention-days: 7

  publish_pypi:

    name: "Publish packages on PyPI"
    runs-on: ubuntu-latest
    needs:
      - build_sdist
      - build_wheels

    steps:

      - name: "Download artifacts"
        uses: actions/download-artifact@v4

      - name: "Move packages to the dist/ folder"
        run: |
          mkdir dist/
          mv sdist/* dist/
          mv wheels-*/*.whl dist/

      - name: "Publish packages on PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
